In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
df = pd.read_csv('skill.csv', encoding = 'unicode_escape')

In [42]:
df

,Role,Skill
0,Java Developer,"Spring, Hibernate, struts, Corejava, EJB"
1,Python Developer,"Python, SQL, Django, Flask, Hadoop"
2,Big Data Developer,"Hadoop, Spark, Hive, Pig, Sqoop"
3,Database Administrator,"MongoDB, Oracle, SQL, PlSQL, Linux"
4,Data Engineer,"SQL, Python, R, MongoDB"
5,Data Analyst,"Python, Data Analysis, Statistics"
6,Data Scientist,"Python, R, SQL, Spark, Tableau"
7,Senior Java Developer,"Team Management, Core Java, Hadoop, Hibernate,..."
8,Deep learning Engineer,"Python, R, ANN, Hadoop, Spark"
9,Machine Learning Engineer,"Python, SQL, Decision Trees, Statistics, Tableau"
10,FrontEnd Developer,"HTML, CSS, PHP, Bootstrap"
11,Mean Stack Developer,"MongoDB, Angular, Node, Express, HTML, Bootstrap"
12,Full Stack Developer,"HTML, CSS, SQL, Bootstrap, Rest"
13,Testing Engineer,"Agile, Jira, HTML, CSS, Selenium"
14,Web Scraper,"HTML, CSS, Selenium, Python"
15,CTO,"Team Management, Hadoop, Data, Python, Spark, ..."
16,Cyber Security,"Cisco, Firewall, Linux, SQL"
17,Network Security,"Cisco, Firewall, Linux, Ipv4, Ipv6"
18,.net Developer,"C#, .net, HTML, CSS, SQL, MVC"
19,Cloud Engineer,"AWS, Azure, GCP, Linux, SQL"

In [43]:
skill = df

In [44]:
skill = skill.join(skill.Skill.str.get_dummies(','))

In [45]:
skill.columns

Index(['Role', 'Skill', ' .net', ' ANN', ' Angular', ' Azure', ' Bootstrap',
       ' CSS', ' Core Java', ' Corejava', ' Data', ' Data Analysis',
       ' Decision Trees', ' Django', ' EJB', ' Express', ' Firewall', ' Flask',
       ' GCP', ' HTML', ' Hadoop', ' Hibernate', ' Hive', ' Ipv4', ' Ipv6',
       ' Jira', ' Linux', ' MVC', ' MongoDB', ' Node', ' Oracle', ' PHP',
       ' Pig', ' PlSQL', ' Python', ' R', ' Rest', ' SQL', ' Selenium',
       ' Spark', ' Spring', ' Sqoop', ' Statistics', ' Tableau', ' struts',
       'AWS', 'Agile', 'C#', 'Cisco', 'HTML', 'Hadoop', 'MongoDB', 'Python',
       'SQL', 'Spring', 'Team Management'],
      dtype='object')

In [7]:
# Identifying the Similarity
from sklearn.metrics.pairwise import cosine_similarity

In [8]:
cos_sim = cosine_similarity(skill.iloc[0:21,2:])

In [9]:
cos_sim

array([[1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.2       , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 1.        , 0.        , 0.2       , 0.        ,
        0.25819889, 0.4       , 0.2       , 0.4       , 0.4       ,
        0.        , 0.        , 0.2       , 0.        , 0.        ,
        0.18257419, 0.2236068 , 0.        , 0.18257419, 0.2       ],
       [0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.2       , 0.        , 0.2       , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.18257419, 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.2       , 0.        , 1.        , 0.        ,
        0.        , 0.2       , 0.        , 0.        , 0.2       ,
        0.        , 0.18257419, 0.2       , 0.        , 0.        ,
        0.        , 0.4472136 , 0.2       , 0.18257419, 0.4       ],
       [0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.2236068 , 0.        , 0.2236068 , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.25      ,
        0.40824829, 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.25819889, 0.        , 0.        , 0.        ,
        1.        , 0.25819889, 0.        , 0.25819889, 0.51639778,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.4       , 0.2       , 0.2       , 0.2236068 ,
        0.25819889, 1.        , 0.        , 0.6       , 0.6       ,
        0.        , 0.        , 0.2       , 0.        , 0.        ,
        0.36514837, 0.2236068 , 0.        , 0.18257419, 0.2       ],
       [0.2       , 0.2       , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.2       , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.36514837, 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.4       , 0.2       , 0.        , 0.2236068 ,
        0.25819889, 0.6       , 0.2       , 1.        , 0.2       ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.54772256, 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.4       , 0.        , 0.2       , 0.        ,
        0.51639778, 0.6       , 0.        , 0.2       , 1.        ,
        0.        , 0.        , 0.2       , 0.        , 0.        ,
        0.        , 0.2236068 , 0.        , 0.18257419, 0.2       ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.20412415, 0.67082039, 0.2236068 , 0.5       ,
        0.        , 0.        , 0.        , 0.20412415, 0.        ],
       [0.        , 0.        , 0.        , 0.18257419, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.20412415, 1.        , 0.18257419, 0.18257419, 0.        ,
        0.        , 0.        , 0.        , 0.16666667, 0.        ],
       [0.        , 0.2       , 0.        , 0.2       , 0.        ,
        0.        , 0.2       , 0.        , 0.        , 0.2       ,
        0.67082039, 0.18257419, 1.        , 0.2       , 0.4472136 ,
        0.        , 0.2236068 , 0.        , 0.36514837, 0.2       ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.2236068 , 0.18257419, 0.2       , 1.        , 0.4472136 ,
        0.        , 0.        , 0.        , 0.36514837, 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.25      ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.5       , 0.        , 0.4472136 , 0.4472136 , 1.        ,
        0.20412415, 0.        , 0.        , 0.20412415, 0.        ],
       [0.        , 0.18257419, 0.18257419, 0.        , 0.40824829,
        0.        , 0.36514837, 0.36514837, 0.54772256, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.20412415,
        1.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.2236068 , 0.        , 0.4472136 , 0.        ,
        0.        , 0.2236068 , 0.        , 0.        , 0.2236068 ,
        0.        , 0.        , 0.2236068 , 0.        , 0.        ,
        0.        , 1.        , 0.67082039, 0.20412415, 0.4472136 ],
       [0.        , 0.        , 0.        , 0.2       , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.67082039, 1.        , 0.        , 0.2       ],
       [0.        , 0.18257419, 0.        , 0.18257419, 0.        ,
        0.        , 0.18257419, 0.        , 0.        , 0.18257419,
        0.20412415, 0.16666667, 0.36514837, 0.36514837, 0.20412415,
        0.        , 0.20412415, 0.        , 1.        , 0.18257419],
       [0.        , 0.2       , 0.        , 0.4       , 0.        ,
        0.        , 0.2       , 0.        , 0.        , 0.2       ,
        0.        , 0.        , 0.2       , 0.        , 0.        ,
        0.        , 0.4472136 , 0.2       , 0.18257419, 1.        ]])

In [29]:
# Top Similar Films
sim_top5 = np.argsort(cos_sim[10])[-5:][::-1]

In [17]:
sim_top5

array([12, 10, 14, 18, 16], dtype=int64)

In [18]:
skill.iloc[[12, 10, 14, 18, 16],0:2]

                    Role                            Skill
12  Full Stack Developer  HTML, CSS, SQL, Bootstrap, Rest
10    FrontEnd Developer        HTML, CSS, PHP, Bootstrap
14           Web Scraper      HTML, CSS, Selenium, Python
18        .net Developer    C#, .net, HTML, CSS, SQL, MVC
16        Cyber Security      Cisco, Firewall, Linux, SQL